{% extends '::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Nav Appaiya</h1>
            <p class="lead">A PHP Developer</p>

        </div>
    </div>

    <div class="row">

        <div class="col-md-8 col-sm-8"> <!-- Tweakers feed left-side 8-col -->
            <div class="page-header">
                <h1><small>Tweakers</small></h1>
            </div>
            {% for tweaker in tweakers %}
                <h1>{{ tweaker.title }}</h1>
                <p>{{ tweaker.contentSnippet }}</p>
                <div>
                    <a href="{{ tweaker.link }}" class="btn btn-primary btn-xs pull-right">
                        Read more
                    </a>
                    <div>
                        {% for i in tweaker.categories %}
                            <span class="label label-danger">{{ i }}</span>
                        {% endfor %}
                    </div>
                </div>
                <hr>
            {% endfor %}
            <hr>
        </div> <!-- ./Tweakers feed -->

        <div class="col-sm-4"> <!-- Techzine Tutorials feed left-side 4-col -->
            <div class="page-header">
                <h1><small>Techzine</small></h1>
            </div>
        {% for post in posts %}
            <h1>{{ post.title }}</h1>
            <p>{{ post.contentSnippet }}</p>
            <div>
                <span class="label label-primary">Posted {{ post.publishedDate }}</span>
                <div class="pull-right">
                    {% for i in post.categories %}
                        <span class="label label-success">{{ i }}</span>
                    {% endfor %}
                </div>
            </div>
            <hr>
        {% endfor %}
        </div> <!-- ./Techzine feed -->
    </div>



{% endblock %}
