{% extends '::base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/project.css') }}">
{% endblock %}

{% block body %}

<div class="row" style="margin-bottom: 20px;">
    <div class="col-lg-12 text-center">
        <h1>Projects</h1>
        <p class="lead">Some of the things I have been working on</p>
    </div>
</div>

<div class="row">
    <!-- Project: Gists -->
    <div class="col-sm-4 col-md-4">
            <div class="post">
                <div class="post-img-content">
                    <img src="{{ asset('bundles/app/img/projects/gists1.png') }}" class="img-responsive" />
                    <span class="post-title"><b>Fetching and listing my Gists </b><br />
                        <b>Github API v3</b></span>
                </div>
                <div class="content">
                    <div class="author">
                        By <b>Nav Appaiya</b> |
                        <time datetime="2015-12-27">December 27th, 2015</time>
                    </div>
                    <div>
                        I like to keep usefull code together at my gists repository on github. So
                        just to give you a peek view into them, i've used the github API v3 for
                        fetching my gists and list them out here for you.
                    </div><br>
                    <div>
                        <a href="{{ path('project_gists') }}" class="btn btn-warning btn-sm">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    <!-- Project: TODO -->
        <div class="col-sm-4 col-md-4">
            <div class="post">
                <div class="post-img-content">
                    <img src="{{ asset('bundles/app/img/projects/todo.png') }}" class="img-responsive" />
                    <span class="post-title"><b>Todo list</b><br />
                        <b>Symfony form handling</b></span>
                </div>
                <div class="content">
                    <div class="author">
                        By <b>Nav Appaiya</b> |<time datetime="2015-12-27">December 27th, 2015</time>
                    </div>
                    <div>
                        Just some experimenting with symfony forms, routing, and form
                        handling. Adding new todo's and finishing them off through a done button.
                        Project was just a experiment while exploring symfony2 and working with forms, entities
                        and saving/updating them.
                    </div>
                    <br>
                    <div>
                        <a href="{{ path('project_todo') }}" class="btn btn-primary btn-sm">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    <!-- Project: WOOCOMMERCE -->
        <div class="col-sm-4 col-md-4">
            <div class="post">
                <div class="post-img-content">
                    <img src="{{ asset('bundles/app/img/projects/woo.png') }}" class="img-responsive" />
                    <span class="post-title"><b>Insights with woocommerce!</b><br />
                        <b>Showing data from the Woo-API</b></span>
                </div>
                <div class="content">
                    <div class="author">
                        By <b>Bhaumik</b> |
                        <time datetime="2014-01-20">January 20th, 2014</time>
                    </div>
                    <div>
                        Small side project showing how to work with the Woocommerce
                        API by using the Woocommerce API keys provided by every woocommerce
                        shop. Note: Data show is from my dummyshop, change api-keys if you want insight
                        to your own data.
                    </div>
                    <br>
                    <div>
                        <a href="{{ path('project_woo') }}" class="btn btn-success btn-sm">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
